body{
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkslategray;
    /* Adding background image */
    background-image: url(../images/white_brick_wall.png);

    /* fixing the fixed nav overlap*/
    padding-top: 92px;
}

/*
 This is a css comment 
 shortcut for adding the comment is control + / or commend + /
 */
.container{
    max-width: 1200px;
}



 h1 {
     color: peru;
 }
 p{
     background-color: lightblue;
 }

 /* Setecting multiple elements */
 h1,
 h2,
 h3,
 h4, {
 text-decoration: underline;
 }
 /* Selecting child elements */
 nav ul {
     list-style: none;
 }

 nav ul li{
     display: inline-block;
     width: 49%;
     padding: 1em;
     box-sizing: border-box;
 }
 /* selecting child elements multiple level */
 nav ul a{
     display: block;
     color: darkslategray;
     text-decoration: none;
     font-size: 1.5em;
 }

 /* selecting element with id value */
 #treatofweek {
     /*color image repeat position-x position-y*/
    background-color: orange url(../images/bread.jpg) no-repeat center center;
    background-size: cover
    

    color: white

    font-size: 1.25rem;
    padding: 1em 1em 3em 1em;
 }
/* position -absolute */

.orange-link.large-text{
    position: absolute;
    bottom: 0;
    right: 0;
}

 /* selecting HTML elements with class name */
 .orange-link{
     padding: 1.5em;
     width: 300px;
     display: block;
     background-color: darkslategray;
     color: orange;
     text-decoration: none;
 }

 .large-text {
     font-size: 20px;
 }

 /*Exsample of float layout*/
 article,
 aside {
     width: 80%;
     background-color: blue;
     border: 1px solid black
     padding: 1.5em;
     box-sizing: border-box;
     float: left;
 }

 aside{
     width: 20%
 }

 /*clearing the float from the sections */
section {
     clear: both;
}

html {
    font-size: large;
}

 article>p {
     font-size: 24px;
     font-weight: bold;
     line-height: 1.5;
     text-transform: lowercase;
     text-align: center;
     /* 1em = 24px */
     /*
     html = 20px
     1rem = 20px
     font-size: .rem; =10px
     1em = 10px;
     0.5em = 5px;
     */
 }
 
 /* Direct child selector */
 h3+ul{
     border: 1px solid black;
 }
 /* Sibling selector */
 h3+p {
     text-transform: uppercase;
 }

 /* Attibute sectoe */
 [href*="treatofweek"] {
     font-weight: bold;
 }

 img[src$=".jpg"] {
     border: 4px solid black
 }

 /*fixed navigation*/
 nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%
     background-color: rgba (0, 0, 0, 0, 0.8,)
     z-index: 999;
 }
 /* Using pseudo classes
 Styling navigation
 */

 nav ul a,
 nav ul a:link,
 nav ul a:visited {
   background-color: orange;
   /* horizontal vertical blur spread color */
   box-shadow: -2px 2px 4px black;
 }

 nav ul a:hover,
 nav ul a:focus {
     text-shadow: underline;
 }

 nav ul 
 nav ul a:hover,
 nav ul a:focus {
     text-decoration: underline;
 }

 nav ul a:active {
     box-shadow: 0 0 4px 2px black;
 }

/* Position related selectors */
/* first-child and :last-child */
aside ul li:first-child {
    font-weight: bold;
}

section ol li:last-child {
    font-weight: bold;
}

/* Styling a table */
table {
    border-collapse: collapse;
}

tbody tr:nth-child(even){
    /* hex color value with 6 charaters */
    background-color: #d5836c;
}

/* 
Using the nth-child with n.
Where n is 0,1,2,3.... until number of elements
*/
table th:nth-child(n),
table td:nth-child(n) {
    /* hex color value with 3 charaters */
    border: 1px solid black;
}

/* using a formula in :nth-child selector */
table td:nth-child(2n+1) {
    background-color: rgba (0, 0, 0, .2);
}

/* CSS Specificity
   Formula: inline-styles id class tag-name
*/

/* 0001 */
footer {
    background-color: aqua;
}

body footer {
    background-color: orange
}

/* 0001 */
footer {
    background-color: red;
}

/*
using inline styles = 1000
        vs
using two tags = 0002
*/
article h2 {
    text-transform: lowercase;
}

/* 0010 */

section p {
    width: 50%;
    /*top-bottom left-right */
    padding: 1em .5em;
    /*top right bottom left*/
    margin: -1em 2em 2em 2em;
    /* we can use single side margin, padding or border by adding -side exsample border-top border-right etc. */
    border-bottom: 2px solid black
}