/*!!!! add positon abosolue*/
header{
    text-align: center;
    background-image: url(https://wallpaper.dog/large/5478970.jpg);
    padding-top: 150px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 4px 0px black;
    color: white;
}

/*added sytle to image to make it small*/
/*added padding-to seprate form paragraph*/
img[src$="yourus.jpg"] {
    inline-size: 20%;
    padding-right: 0.5%
}
/*the subheading Home,story and contact stypeing*/
nav{
    text-align: center;
    text-decoration: solid;
    font-size:large
}

body{
    background-color: #aad4cf;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    align-content: center;
    max-width: 1200px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: #d4e9e7;
    /*content: inherit;*/
}


nav li{
    display: inline-block;
    text-align: center;
    width: 200px;
  }

/*form div input {
    display: block
}*/

.block{
    width: 99%;
    max-width: 1200px;
    display: block
}

form{
    border: 1px solid black; padding-top: 3%; padding-bottom: 3%;
    padding-left: 0.9%;
    padding-right: 0.9%;
}

img{
    width: 200px;
    float: left;
  }

footer{
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: right
}