/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of CSS reset*/




/*!!!! add positon abosolue*/
/*header{
    text-align: center;
    /*background-image: url(https://wallpaper.dog/large/5478970.jpg); width: 100%;*/
    padding-top: 150px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 4px 0px black;
    color: white;
}
*/


.banner{
    position: relative;
}
h1{
    position:absolute;
    text-align:center;
    color: white;
}
img[src$="ocean.jpg"]{
    width: 100%;
}

/*added sytle to image to make it small*/
/*added padding-to seprate form paragraph*/
img[src$="yourus.jpg"] {
    inline-size: 20%;
    padding-right: .7em;
    padding-bottom: .7em;
}
/*the subheading Home,story and contact stypeing*/
nav{
    text-align: center;
    text-decoration: solid;
    font-size:large
}

.line{
    border-left: 1px black;
}

h2,h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding-top: .5em;
    padding-bottom: .3em;
}

body{
    background-color: #aad4cf;
    font-family:  Arial, Helvetica, sans-serif, 'Trebuchet MS', sans-serif;
}

.container{
    align-content: center;
    max-width: 1200px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: #d4e9e7;
    /*content: inherit;*/
}


nav li{
    display: inline-block;
    text-align: center;
    width: 250px;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: bold;
    font-size: larger;
  }

/*form div input {
    display: block
}*/

.block{
    width: 99%;
    max-width: 1200px;
    display: block
}

form{
    border: 1px solid black; padding-top: 2%; padding-bottom: 2%;
    padding-left: 0.9%;
    padding-right: 0.9%;
}

img{
    width: 200px;
    float: left;
  }

/*for removeing list indent*/
aside ul{
    list-style-position: inside;
    padding-left: 0;
    list-style-type: inherit;
    padding-bottom: 1.5em;
    padding-top: .7em;
}

/*span element added to remove extra space between bullents and list*/
ul span{
    position: relative;
    left: -10px;
    list-style-position: inside;
    padding-left: 0;
}

form div{
    padding: .5em;
    box
}
/*not currently working*/
label{
    padding-bottom: 15em;
}

form h4{
    font-size: large;
    padding-bottom: 1.5em;
}

button{
    padding: .7em;
    margin-top: .5em;
    margin-left: .5em;
    background-color: inherit;
    display:inline-block
}


footer{
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: right
}