/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS reset*/

/*--------------
    all page styles
----------------*/

/*container for all page content*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/*about us title*/
h2 {
    font-weight: 700;
    font-size: 6rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

/*marketing and other services subtitles, our vision, Send us a message,
Hours of operation,Location titles */
h3 {
    font-weight: 700;
    font-size: 2.5rem;
    font-size: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*paragaph text*/
p {
    font-size: 1.5rem;
}

/*button arrow*/
a i::before {
    padding-left: 1rem;
    font-size: 1.5rem;
}


/*----------------
   header styles
-----------------*/
/*header syles*/
header {
    background-color: #222;
    padding: 1rem;
}

/*positioning for three star logo*/
.logo {
    align-self: initial;
    margin-right: 38rem;

}

/*added to archors to remove link style*/
nav ul a {
    color: #c78c06;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

/*added biger hover area*/
.home {
    padding-top: 20rem;
    margin-top: -6.5rem;
}

/*for styleing whole navagatshion list*/
nav ul {
    text-align: center;
    color: #c78c06;
}

/*style for hover links*/
nav ul a:hover,
nav ul a:focus {
    background-color: #c78c06;
    color: #222;
}

/*for styleing indiveal list items*/
nav li {
    font-size: 1.5rem;
}

/*hids the seach label*/
nav li label {
    display: none;
}

/*styleing fo the seach bar*/
nav li form input {
    width: 90%;
    vertical-align: middle;
    padding: 10px;
    margin-right: -5.5px;
}



/*search button*/
ul li form button {
    display: inline;
    background-color: inherit;
    border: 1px solid #c78c06;
    padding: 1px;
    margin-bottom: 1rem;
    vertical-align: middle;
}

/*adding broder to magnifer icon*/
.im.im-magnifier {
    color: #c78c06;
    padding: 5px 5px 5px 5px;
}

/*--------------------
  Welcome to styles
--------------------*/

/*welcome to banner*/
.welcome {
    background: white url(../images/main-banner.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

/*content for welcome to section*/
.welcome-inside {
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 8rem;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 90px;
    color: white;
}

/*welcome to title*/
h1 {
    font-size: 7rem;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*connect with us button*/
.connect {
    background-color: #c78c06;
    color: black;
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 3rem;
    position: relative;
    bottom: -4rem;
    text-decoration: none;
}


/*--------------------
  about us styles
--------------------*/

/*abount us background*/
#about {
    background-color: #ffe6ac;
}

/*about us image*/
img[src$="about-us.jpg"] {
    width: 97%;
    padding: 1rem 1rem 1rem 1rem;
}

/*about us content*/
.about-inside {
    padding: 1rem 1rem;
}

/*--------------------
  our services styles
--------------------*/

/*image for digital transformation*/
img[src$="digital.jpg"] {
    max-width: 1150px;
    width: 100%;
}

/*digital transformation div*/
.digital {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*digital transformation content*/
.digital-inside {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*image for marketing*/
img[src$="marketing.jpg"] {
    max-width: 1150px;
    width: 100%;
}

/*marketing div*/
.marketing {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*marketing content*/
.marketing-inside {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*image for video*/
img[src$="video.jpg"] {
    max-width: 1150px;
    width: 100%;
}

/*video div*/
.video {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*video content*/
.video-inisde {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*image for web*/
img[src$="web.jpg"] {
    max-width: 1150px;
    width: 100%;
}

/*web div*/
.web {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*web content*/
.web-inside {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*image for print*/
img[src$="print.jpg"] {
    max-width: 1150px;
    width: 100%;
}

/*print div*/
.print {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*print content*/
.print-inside {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*our services buttons*/
.s-button {
    background-color: #222;
    color: white;
    padding: 3rem;
    font-size: 1.5rem;
    position: relative;
    top: 4rem;
    text-decoration: none;
}

/*--------------------
  our vision styles
--------------------*/

/*vision div*/
.vision {
    position: relative;
}

/*our vision image*/
img[src$="vision.jpg"] {
    max-width: 1200px;
    width: 100%;
    height: 30rem;
    padding-top: 1rem;
}

/*our vision content*/
.vision-inside {
    position: absolute;
    margin: 0 auto;
    bottom: 9rem;
    padding-left: 1rem;
    color: white;
}

/*our vision title*/
.ov {
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

/*learn more  button*/
.learn {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 3rem;
    font-size: 1.5rem;
    border: 1px solid #c78c06;
    position: relative;
    bottom: -4rem;
    text-decoration: none;
}


/*--------------------
  our team styles
--------------------*/

/*our team title*/
#our-team {
    min-width: 760px;

}

/*john div*/
.john {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*john image*/
img[src$="john.jpg"] {
    width: 745px;
    padding-left: 1rem;
    position: relative;
    top: 1rem;
}

/*bob div*/
.bob {
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/*bob image*/
img[src$="bob.jpg"] {
    width: 745px;
    padding-left: 1rem;
    position: relative;
    top: 1rem;
}

/*John doe and bob rite titles*/
h4 {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

/*CEO and co-owner and CFO and co-owner titles*/
h5 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-top: 2px solid #c78c06;
}

/*--------------------
     form styles
--------------------*/

/*form inputs*/
.block {
    border: 1px #222 solid;
    width: 99%;
    max-width: 1200px;
    height: 2rem;
    display: block
}

/*fullname label*/
#fullname {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/*youremail label*/
#youremail {
    margin-bottom: .5rem;
    margin-top: .5rem;
}


/*styleing for textarea*/
#message {
    display: block;
    max-width: 1200px;
    margin-top: 1em;
    min-width: 99%;
    height: 15em;
}

/*form send button*/
button {
    background-color: #222;
    color: #c78c06;
    font-size: 2rem;
    margin-top: 1rem;
    border: none;
}

/*--------------------
  hours of operation styles
--------------------*/

/*table*/
table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid black;
    font-size: 1.5rem;
    width: 1200px;

}

/*table title*/
table th {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffe6ac;
}

/*table items*/
table td:nth-child(n) {
    padding-right: 5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*larger frist colum*/
table td:nth-child(odd) {
    padding-right: 15rem;
}

/*--------------------
     location styles
--------------------*/

/*map styles*/
iframe {
    height: 700px;
    width: 1150px;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

/*--------------------
     footer styles
--------------------*/
/*footer paragraphs*/
footer p {
    color: #c78c06;
    background-color: #222;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

/*copyright*/
.copy {
    padding-top: 1rem;
}

/*--------------------
    desktop styles
--------------------*/
@media screen and (min-width: 760px) {
    /*--------------------
    all page styles
--------------------*/

    /*about us title*/
    h2 {
        font-weight: 700;
        font-size: 5rem;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }

    /*marketing and other services subtitles, our vision, Send us a message,
    Hours of operation,Location titles */
    h3 {
        font-weight: 700;
        font-size: 1.9rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    /*paragraphs*/
    p {
        font-size: 1rem;
    }


    /*button arrow*/
    a i::before {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    /*--------------------
    header styles
--------------------*/

    /*header styles*/
    header {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    /*navigation list*/
    nav li {
        display: inline-block;
        font-size: 1.5rem;
        vertical-align: middle;
    }

    /*anchor tags*/
    a {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /*home acchor tag*/
    .home {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: 0;
    }

    /*positioning for three star logo*/
    .logo {
        display: inline;
        margin-right: 0;
        padding-right: 4rem;
    }

    /*styleing fo the seach bar*/
    nav li form input {
        display: inline;
        width: 70%;
        margin-right: -5.5px;
    }

    /*--------------------
  Welcome to styles
--------------------*/
    /*welcome class*/
    h1 {
        font-size: 6rem;
        line-height: 1.5;
        font-weight: 700;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 1rem;
    }

    /*welcome image*/
    .welcome {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /*connect with us button*/
    .connect {
        background-color: #c78c06;
        color: black;
        font-size: 1.5rem;
        margin-top: 3rem;
        padding: 3rem;
        position: relative;
        bottom: -4rem;
    }

    /*--------------------
  about us styles
--------------------*/

    /*about us div*/
    #about {
        background-color: #ffe6ac;
    }

    /*added flex to move image*/
    #about>div {
        display: flex;
    }

    /*about us image*/
    img[src$="about-us.jpg"] {
        width: 50%;
    }

    /*about us content*/
    .about-inside {
        padding: 1rem 1rem;
        width: 50%;
    }

    /*--------------------
   our services styles
--------------------*/

    /*our services grid*/
    #services {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 150px 2fr;
        max-width: 1000px;
        margin-left: 6rem;
    }

    /*our services title*/
    .os {
        grid-column: span 6;
        grid-row: auto;
    }

    /*digital div*/
    .digital {
        grid-column: span 3;
        margin-left: 0rem;
    }

    /*marketing div*/
    .marketing {
        grid-column: span 3;
    }

    /*marketing image*/
    img[scr="marketing"] {
        height: 70rem;
    }

    /*video div*/
    .video {
        grid-column: span 2;
        margin-left: 0rem;
    }

    /*web div*/
    .web {
        grid-column: span 2;

    }

    /*print div*/
    .print {
        grid-column: span 2;
    }

    /*digital button*/
    #digital-button {
        padding-right: 9rem;
        padding-left: 9rem;
    }

    /*marketing image*/
    img[src$="digital.jpg"] {
        height: 20rem;
    }

    /*marketing button*/
    #marketing-button {
        padding-right: 7.2rem;
        padding-left: 7.2rem;
        top: 4rem;
    }

    /*video image*/
    img[src$="video.jpg"] {
        height: 14rem;
    }

    /*video button*/
    #video-button {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    /*web button*/
    #web-button {
        padding-right: 3.9rem;
        padding-left: 3.9rem;
    }

    /*print button*/
    #print-button {
        padding-right: 3.8rem;
        padding-left: 3.8rem;
    }

    /*--------------------
   our vision styles
--------------------*/

    /*our vision image*/
    img[src$="vision.jpg"] {
        max-width: 1200px;
        width: 1200px;
        min-height: 400px;
        height: 400px;
    }

    /*our vision cntent*/
    .vision-inside {
        padding-bottom: 1rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    /*--------------------
    our team styles
-------------------*/

    /*our team flex display*/
    #our-team {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    /*our team content flex display*/
    .team-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1150px;
        padding-bottom: 1rem;
    }

    /*team title*/
    #team {
        flex-basis: 100%;
        order: 1;

    }

    /*john image*/
    img[src$="john.jpg"] {
        position: inherit;
        padding-left: 1rem;
        max-width: 500px;
        flex-basis: 50%;
        order: 2;
    }

    /*john div*/
    .john {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        max-width: 468px;
        flex-basis: 50%;
        order: 3;
    }

    /*bob div*/
    .bob {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 0rem;
        margin-left: 1rem;
        max-width: 468px;
        flex-basis: 50%;
        order: 4;
    }

    /*bob image*/
    img[src$="bob.jpg"] {
        padding-left: 0rem;
        position: inherit;
        max-width: 500px;
        flex-basis: 50%;
        order: 5;
    }

    /*--------------------
    contact us styles
---------------------*/

    /*contact us flex display*/
    #bottom-layout {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    /*contact us content flex display*/
    .bottom-inside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1150px;
        padding-bottom: 1rem;
    }

    /*contact us title*/
    #contact {
        flex-basis: 100%;
        order: 1;
    }

    /*form*/
    .thanks.html {
        max-height: 500px;
        height: 500px;
    }

    /*form div*/
    .contact-form {
        max-height: 600px;
        padding-left: 1rem;
        flex-basis: 50%;
        order: 2;
    }

    /*map div*/
    .location {
        max-height: 50px;
        max-width: 50px;
        height: 50px;
        width: 50px;
        margin-right: 1rem;
        flex-basis: 50%;
        order: 3;
    }

    /*table div*/
    .hours {
        padding-left: 2rem;
        margin-top: 7rem;
        flex-basis: 100%;
        order: 4;
    }

    /*map*/
    iframe {
        height: 500px;
        width: 550px;
    }




}