/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS reset*/

/*--------------
    all page styles
----------------*/

/*container for all page content*/


.container{
    max-width: 1200px;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-weight: 700;
    font-size: 6rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

h3{
    font-weight: 700;
    font-size: 2.5rem;
}

p{
    font-size: 1.5rem;
}

/*button arrow*/
a i::before {
    padding-left: 1rem;
    font-size: 1.5rem;
}


/*----------------
   header styles
-----------------*/

header{
    background-color:#222;
}

/*positioning for three star logo*/
.logo{
    align-self: start;
}

/*added to archors to remove link style*/
nav ul a {
    color: #c78c06;
    text-decoration: none;
    display:block;
    padding: 1rem;
}

/*added biger hover area*/

/*for styleing whole navagatshion list*/
nav ul {
    text-align: center;
    color: #c78c06;
}

/*style for hover links*/
nav ul a:hover,
nav ul a:focus {
    background-color: #c78c06;
    color:#222;
}

/*for styleing indiveal list items*/
nav li{
    font-size: 1.5rem;
}

/*hids the seach label*/
nav li label{
    display:none;
}

/*styleing fo the seach bar*/
nav li form input{
    width: 90%;
    /*height: 2rem;*/
    vertical-align: middle;
    padding: 10px;
    margin-right: -5.5px;
}



/*search button*/
ul li form button{
    display: inline;
    background-color: inherit;
    border: 1px solid #c78c06;
    padding: 1px;
    margin-bottom: 1rem;
    vertical-align: middle;
}
/*adding broder to magnifer icon*/
.im.im-magnifier{
    color:#c78c06;
    padding: 5px 5px 5px 5px;
}
/*--------------------
  Welcome to styles
--------------------*/

.welcome{
   background: white url(../images/main-banner.jpg) no-repeat center;
   background-size: cover; 
   padding-bottom: 5rem;
   padding-top:5rem;
}

img[src$="main-banner.jpg"]{
    max-width: 1200px;
    width: 100%;
}

.welcome-inside{
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 8rem;
    background-color: rgba(0,0,0,0.6);
    background-size: 90px;
    color:white;
}

h1{
   font-size: 7rem;
   font-weight: 700;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.connect{
    background-color:#c78c06;
    color:black;
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 3rem;
    position: relative;
    bottom: -4rem;
    text-decoration: none;
}


/*--------------------
  about us styles
--------------------*/

#about{
    background-color:#ffe6ac;
}

img[src$="about-us.jpg"] {
    width: 97%;
    padding: 1rem 1rem 1rem 1rem;
}

.about-inside{
    padding: 1rem 1rem;
}

/*--------------------
  our services styles
--------------------*/

img[src$="digital.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.digital{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.digital-inside{
    padding-left: 1rem;
    padding-right: 1rem;
}

img[src$="marketing.jpg"]{
    max-width: 1150px;
    width: 100%;
}
.marketing{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.marketing-inside{
    padding-left: 1rem; 
    padding-right: 1rem;
}

img[src$="video.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.video{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.video-inisde{
    padding-left: 1rem;
    padding-right: 1rem;
}

img[src$="web.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.web{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.web-inside{
    padding-left: 1rem;
    padding-right: 1rem;
}

img[src$="print.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.print{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.print-inside{
    padding-left: 1rem;
    padding-right: 1rem;
}

.s-button{
    background-color:#222;
    color:white;
    padding: 3rem;
    font-size: 1.5rem;
    position: relative;
    top: 4rem;
    text-decoration: none;
}

/*--------------------
  our vision styles
--------------------*/
.vision{
    position: relative;
 }
 
 img[src$="vision.jpg"]{
     max-width: 1200px;
     width: 100%;
     height: 30rem;
     padding-top: 1rem;
 }
 
 .vision-inside{
     position: absolute;
     margin: 0 auto;
     bottom: 10rem;
     padding-left: 1rem;
     color:white;
 }
 
 h3{
    font-size: 4rem;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 5rem;
 }
 
 .learn{
     background-color: rgba(0,0,0,0.6);
     color:white;
     padding: 3rem;
     font-size: 1.5rem;
     border: 1px solid #c78c06;
     position: relative;
     bottom: -4rem;
     text-decoration: none;
 }
 

/*--------------------
  our team styles
--------------------*/

#our-team{
    min-width: 760px;

}

.john{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


img[src$="john.jpg"]{
    width: 745px;
    padding-left: 1rem;
    position: relative;
    top: 1rem;
}

.bob{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

img[src$="bob.jpg"]{
    width: 745px;
    padding-left: 1rem;
    position: relative;
    top: 1rem;
}



h4{
    font-weight: 700;
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

h5{
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-top: 2px solid #c78c06;
}

/*--------------------
  our team styles
--------------------*/

.block{
    border: 1px #222 solid;
    width: 99%;
    max-width: 1200px;
    height: 2rem;
    display: block
}

.form input{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*styleing for textarea*/
#message {
    display: block;
    max-width: 1200px;
    margin-top: 1em;
    min-width: 99%;
    height: 15em;
}

button{
    background-color: #222;
    color:#c78c06;
    font-size: 2rem;
    margin-top: 1rem;
    border:none;
}

/*--------------------
  hours of operation styles
--------------------*/

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid black;
    font-size: 1.5rem;
    width: 1200px;

}

/*table title*/
table th{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffe6ac;
}

/*table items*/
table td:nth-child(n) {
    padding-right: 5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*larger frist colum*/
table td:nth-child(odd){
    padding-right: 15rem;
}

/*--------------------
     location styles
--------------------*/

/*map styles*/
iframe{
    height: 700px;
    width: 1150px;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
/*--------------------
     footer styles
--------------------*/
footer p{
    color:#c78c06;
    background-color: #222;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.copy{
    padding-top: 1rem;
}

/*--------------------
    desktop styles
--------------------*/
@media screen and (min-width: 760px){
/*--------------------
    all page styles
--------------------*/
    h2{
        font-weight: 700;
        font-size: 5rem;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }
    
    h3{
        font-weight: 700;
        font-size: 2.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    
    p{
        font-size: 1rem;
    }
    
    
    /*button arrow*/
    a i::before {
        padding-left: 1rem;
        font-size: 1.5rem;
    }
    
/*--------------------
    header styles
--------------------*/

header{
    padding-bottom: 1rem;
}


nav li {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}

a{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.home {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*positioning for three star logo*/
.logo{
    display: inline;
}

/*styleing fo the seach bar*/
nav li form input{
    display: inline;
    width: 70%;
    margin-right: -5.5px;
}

/*--------------------
  Welcome to styles
--------------------*/
 /*welcome class*/
 h1{
    font-size: 6rem;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 1rem;
 }
 
.welcome{
    padding-left: 3rem;
    padding-right: 3rem;
}



 .connect{
     background-color:#c78c06;
     color:black;
     font-size: 1.5rem;
     margin-top: 3rem;
     padding: 3rem;
     position: relative;
     bottom: -4rem;
 }
 /*--------------------
  about us styles
--------------------*/

#about{
    background-color:#ffe6ac;
}

#about>div{
    display: flex;
}

img[src$="about-us.jpg"] {
    width: 50%;
}

.about-inside{
    padding: 1rem 1rem;
    width: 50%;
}

 /*--------------------
   our services styles
--------------------*/

#services{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto(3, 1fr);
    max-width: 1000px;
    margin-left: 6rem;
}

.os{
    grid-column: span 6;
}

.digital{
    grid-column: span 3;
    margin-left: 0rem;
}

.marketing {
    grid-column: span 3;
}

img[scr="marketing"]{
    height: 70rem;
}

.video {
    grid-column: span 2;
    margin-left: 0rem;
}

.web {
    grid-column: span 2;

}

.print{
    grid-column: span 2;
}

/*nth child achors to select speific ones*/
/*cheack bottom padding on buttons vs. bottom padding on div*/


.s-button div:nth-child(4){
    width: 100%;
}

 /*--------------------
    our team styles
-------------------*/

#our-team{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.team-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1150px;
    padding-bottom: 1rem;
}

#team{
    flex-basis: 100%;
    order: 1;
    
}

img[src$="john.jpg"]{
    position:inherit;
    padding-left: 1;
    max-width: 500px;
    flex-basis: 50%;
    order: 2;
}


.john{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 468px;
    flex-basis: 50%;
    order: 3;
    flex: shrink 4;
}

.bob{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0;
    margin-left: 1;
    max-width: 468px;
    flex-basis: 50%;
    order: 4;
}

img[src$="bob.jpg"]{
    padding-left: 0;
    position:inherit;
    max-width: 500px;
    flex-basis: 50%;
    order: 5;
}

 /*--------------------
    contact us styles
---------------------*/

#bottom-layout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.bottom-inside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1150px;
    padding-bottom: 1rem;
}

#contact{
    flex-basis: 100%;
    order: 1;
}

.thanks.html{
    max-height: 500px;
    height: 500px;
}




.contact-form{
    max-height: 600px;
    padding-left: 1rem;
    flex-basis: 50%;
    order: 2;
}

.location{
    max-height: 50px;
    max-width: 50px;
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    flex-basis: 50%;
    order: 3;
}

.hours{
    padding-left: 2rem;
    margin-top: 7rem;
    flex-basis: 100%;
    order: 4;
}

iframe{
    height: 500px;
    width: 550px;
}




}