/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS reset*/

/*--------------
    all contain styles
----------------*/

/*container for all page content*/


.container{
    max-width: 1200px;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-weight: 700;
    font-size: 6rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

h3{
    font-weight: 700;
    font-size: 2.5rem;
}

p{
    font-size: 1.5rem;
}

/*.logo{
    position: relative;
    right: 33.5rem;
}*/

/*button arrow*/
a i::before {
    padding-left: 1rem;
    font-size: 1.5rem;
}


/*----------------
   header styles
-----------------*/

header{
    background-color:#222;
}

/*header div*/
.site{
    padding-left: 1rem;
}

.logo{
    align-self: start;
    position: relative;
    right: 33.5rem;
}

/*added to archors to remove link style*/
a {
    color: #c78c06;
    text-decoration: none;
}

/*for styleing whole navagatshion list*/
nav ul {
    text-align: center;
    color: #c78c06;
}

nav ul a:hover,
nav ul a:focus {
    background-color: #c78c06;
    color:#222;
}

/*for styleing indiveal list items*/
nav li{
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

/*hids the seach label*/
nav li label{
    display:none;
}

/*styleing fo the seach bar*/
nav li form input{
    width: 90%;
    /*height: 2rem;*/
    vertical-align: middle;
    padding: 9px;
    margin-right: -5.5px;
}



/*search button*/
ul li form button{
    display: inline;
    background-color: inherit;
    border: 1px solid #c78c06;
    padding: 1px;
    vertical-align: middle;
}
/*adding broder to magnifer icon*/
.im.im-magnifier{
    color:#c78c06;
    padding: 5px 5px 5px 5px;
}
/*--------------------
  Welcome to styles
--------------------*/

.welcome{
   position: relative;
}

img[src$="main-banner.jpg"]{
    max-width: 1200px;
    width: 100%;
}

.welcome-inside{
    position: absolute;
    margin: 0 auto;
    bottom: 15rem;
    padding-left: 1rem;
    background-color: rgba(0,0,0,0.6);
    color:white;
}

h1{
   font-size: 7rem;
   font-weight: 700;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.connect{
    background-color:#c78c06;
    color:black;
    margin-top: 3rem;
    padding: 1.5rem;
}


/*--------------------
  about us styles
--------------------*/

#about{
    background-color:#ffe6ac;
}

img[src$="about-us.jpg"] {
    width: 97%;
    padding: 1rem 1rem 1rem 1rem;
}

.about-inside{
    padding: 1rem 1rem;
}

/*--------------------
  our services styles
--------------------*/

img[src$="digital.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.digital{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.digital-inside{
    padding-left: 1rem;
}

img[src$="marketing.jpg"]{
    max-width: 1150px;
    width: 100%;
}
.marketing{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.marketing-inside{
    padding-left: 1rem; 
}

img[src$="video.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.video{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.video-inisde{
    padding-left: 1rem;
}

img[src$="web.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.web{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.web-inside{
    padding-left: 1rem;
}

img[src$="print.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.print{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.print-inside{
    padding-left: 1rem;
}

.s-button{
    background-color:#222;
    color:white;
    padding: 1.5rem;
}

/*--------------------
  our vision styles
--------------------*/
.vision{
    position: relative;
 }
 
 img[src$="vision.jpg"]{
     max-width: 1200px;
     width: 100%;
     height: 30rem;
     padding-top: 1rem;
 }
 
 .vision-inside{
     position: absolute;
     margin: 0 auto;
     bottom: 10rem;
     padding-left: 1rem;
     color:white;
 }
 
 h3{
    font-size: 4rem;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 5rem;
 }
 
 .learn{
     background-color: rgba(0,0,0,0.6);
     color:white;
     padding: 1.5rem;
     border: 1px solid #c78c06;
 }
 

/*--------------------
  our team styles
--------------------*/

.john{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.john-inside{
    margin-left: 1rem;
}

img[src$="john.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.bob{
    background-color: #ffe6ac;
    max-width: 1150px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

img[src$="bob.jpg"]{
    max-width: 1150px;
    width: 100%;
}

.bob-inside{
    margin-left: 1rem;
}

h4{
    font-weight: 700;
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

h5{
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/*--------------------
  our team styles
--------------------*/

.block{
    border: 1px #222 solid;
    width: 99%;
    max-width: 1200px;
    height: 2rem;
    display: block
}

.form input{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*styleing for textarea*/
#message {
    display: block;
    max-width: 1200px;
    margin-top: 1em;
    min-width: 99%;
    height: 15em;
}

button{
    background-color: #222;
    color:#c78c06;
    font-size: 2rem;
    margin-top: 1rem;
}

/*--------------------
  hours of operation styles
--------------------*/

table th:nth-child(n),
table td:nth-child(n) {
    border: 1px solid black;
    font-size: 1.5rem;
    width: 1200px;

}

/*table title*/
table th{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffe6ac;
}

/*table items*/
table td:nth-child(n) {
    padding-right: 5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*larger frist colum*/
table td:nth-child(odd){
    padding-right: 15rem;
}

/*--------------------
     location styles
--------------------*/
iframe{
    height: 700px;
    width: 1150px;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
/*--------------------
     footer styles
--------------------*/
footer p{
    color:#c78c06;
    background-color: #222;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.copy{
    padding-top: 1rem;
}